# Copie para .env e preencha

SECRET_KEY=gere-uma-chave-secreta-aqui
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,seuapp.vercel.app

# Render PostgreSQL
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Domínio Vercel sem https://
VERCEL_URL=seuapp.vercel.app

DJANGO_SETTINGS_MODULE=config.settings